<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://i.imgur.com/EQY8ogf.png" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item all-courses">
        <%= link_to "L'ARTISTE ET SON ACTUALITE", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "LES OEUVRES", oeuvres_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "L'ATELIER", workshop_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "CONTACT", contact_path, class: "nav-link"  %>
      </li>
    </ul>
  </div>
</div>

