<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon2 fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logo_nom.png" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "HOME", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "L'ARTISTE ET SON ACTUALITE", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LES ŒUVRES
        </a>
        <%#= link_to "SILHOUETTES", oeuvres_path, class: "nav-link dropdown-item"  %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "SILHOUETTES", oeuvres_path, class: "nav-link dropdown-item", onclick: "showSilhouettes(); return false;" %>
          <%= link_to "SIGNES", oeuvres_path, class: "nav-link dropdown-item",  onclick: "showSignes(); return false;"%>
          <%= link_to "PLUMES", oeuvres_path, class: "nav-link dropdown-item",  onclick: "showPlumes(); return false;"%>
<!--           <a href="" class="dropdown-item">SILHOUETTES</a>
          <a href="" class="dropdown-item">SIGNES</a>
          <a href="" class="dropdown-item">PLUMES</a> -->
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "L'ATELIER", workshop_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal" data-backdrop="false"> CONTACT</a>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Contact :</h4>
              </div>
              <div class="modal-body">
                <p>Sed nisi consequatur molestiae ratione ut. Optio consectetur iusto sint nihil. Dolorem necessitatibus maxime facilis repudiandae dolorem corrupti eligendi non.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<%= javascript_include_tag "navdropdown" %>
