<%= render 'shared/navbar' %>
<div class="artist-page-container">
  <div class="artist-container">
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568041327/FRA_2196_tdj595.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568041597/FRA_2125_w7yhqe.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568041555/FRA_2191_ooh5x1.jpg"%>
    </div>
  </div>
  <div class="artist-container">
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568727433/110_x4mtel.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568727482/112_fbv5ro.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568727337/109_jxfg7d.jpg"%>
    </div>
  </div>
  <div class="artist-container">
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568727298/084_jlu4lu.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568727244/073_ram3ll.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568726982/055_t6gfjw.jpg"%>
    </div>
  </div>
   <div class="artist-container">
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568728050/055_unpfd6.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568727986/107_wshxgn.jpg"%>
    </div>
    <div class="flex-item photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568728201/050_joe8k8.jpg"%>
    </div>
  </div>
</div>
