<%= render 'shared/navbar_works' %>
  <div class="container_works workshop-container">
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903902/109_jxfg7d_uz1vzt.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903907/FRA_2125_w7yhqe_vamvbt.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903903/084_jlu4lu_duxbcc.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903909/FRA_2196_tdj595_enzmn1.jpg"%>
    </div>
    <div class="shop-image shop-text">
      L'atelier, lieu magique où flâner, rêver, créer, respirer, inventer, vibrer, lieu d'émotions, d'harmonie, de lumière et de solitude où le temps s'arrête...
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903905/112_fbv5ro_oimavm.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568910078/072_nztpnx.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903904/110_x4mtel_ensctj.jpg"%>
    </div>
    <!-- <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568904299/073_ram3ll_rdxkvs.jpg"%>
    </div> -->
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903905/107_wshxgn_c5tamp.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1569181879/FRA_1934_utwfe6.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903903/055_unpfd6_vgxcet.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903901/050_joe8k8_mv4h7r.jpg"%>
    </div>
    <div class="image_work photo">
        <%= image_tag "https://res.cloudinary.com/dlu8hxykj/image/upload/v1568903908/FRA_2191_ooh5x1_w5zzbn.jpg"%>
    </div>
</div>
